<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>SSO demo!</title>
</head>
<body>
    <div class="card">
        <div class="header">
            <h1>SSO demo!</h1>
        </div>
        <div class="content">
            <p>Conferences</p>
            <th:block th:if="${error != null}">
                <h3>Error</h3>
                <p th:text="${error}"></p>
            </th:block>
            <th:block th:each="conference: ${conferences}">
                <h3 th:text="${conference.get('name')}"></h3>
                <p th:text="${conference.get('location')}"></p>
            </th:block>
        </div>
        <div class="footer">
            <a href="/" class="button">Back</a>
        </div>
    </div>
</body>
</html>